<link href="{{ "announcements.css" | asset_url }}" rel="stylesheet">

<div class="announcements">
    <div class="wrap wrap--small">
        <div class="swiper swiper-announcements">
            <div class="swiper-wrapper">
            {% for block in section.blocks %}
            {% case block.type %}
                {% when "global_announcement" %}
                    <div class="swiper-slide swiper-slide-global"{% if block.settings.code != blank %} data-region="{{ block.settings.type }}" data-code="{{ block.settings.code }}{% endif %}">
                        <div class="announcements__announcement">
                            {% if block.settings.url != blank %}<a href="{{ block.settings.url }}" aria-label="{{ block.settings.title }}">{% endif %}
                            <span>{{ block.settings.title }}</span>
                            {% if block.settings.url != blank %}</a>{% endif %}
                        </div>
                    </div>
                {% when "regional_announcement" %}
                    <div class="swiper-slide swiper-slide-regional" data-region="{{ block.settings.type }}" data-code="{{ block.settings.code }}">
                        <div class="announcements__announcement">
                            {% if block.settings.url != blank %}<a href="{{ block.settings.url }}" aria-label="{{ block.settings.title }}">{% endif %}
                            <span>{{ block.settings.title }}</span>
                            {% if block.settings.url != blank %}</a>{% endif %}
                        </div>
                    </div>
            {% endcase %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{{ "announcements.js" | asset_url }}" defer></script>