<div class="card-product-predictive-search{% unless request.design_mode %} preload{% endunless %}">

    <div class="card-product-predictive-search__media">
        <a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">
            <img 
                {% if request.design_mode %}
                src="{{ product.featured_image.src | img_url: '150x205', crop: "center" }}" 
                {% else %}
                src="{{ "preload.gif" | asset_url }}" 
                data-src="{{ product.featured_image.src | img_url: '150x205', crop: "center" }}" 
                {% endif %}
                alt="{{ product.title }}" 
                width="150" 
                height="205" 
            >
        </a>
    </div>
    <div class="card-product-predictive-search__details">
        <div class="card-product-predictive-search__title">
            <h4><a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">{{ product.title }}</a></h4>
        </div>
        <div class="card-product-predictive-search__price">
            {% render "product-price", product: product %}
        </div>
    </div>

</div>