<link href="{{ "card-product-lookbook.css" | asset_url }}" rel="stylesheet">

{% assign show_video = product.metafields.product.show_product_card_video.value %}

<div class="card-product-lookbook{% unless request.design_mode %} preload{% endunless %}">

    <div class="card-product-lookbook__media">
        <a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">
            <img 
                {% if request.design_mode %}
                src="{{ product.featured_image.src | img_url: '600x818', crop: "center" }}" 
                {% else %}
                src="{{ "preload.gif" | asset_url }}" 
                data-src="{{ product.featured_image.src | img_url: '600x818', crop: "center" }}" 
                class="preload" 
                {% endif %}
                alt="{{ product.title }}" 
                width="600" 
                height="818" 
            >
        </a>
    </div>
    <div class="card-product-lookbook__details">
        <div class="card-product-lookbook__title">
            <h4><a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">{{ product.title }}</a></h4>
        </div>
        <div class="card-product-lookbook__price">
            {% render "product-price", product: product %}
        </div>
    </div>

</div>