<link href="{{ "card-product.css" | asset_url }}" rel="stylesheet">

{% assign show_video = product.metafields.product.show_product_card_video.value %}
{% assign has_video = false %}
{% for media in product.media %}
    {% if media.media_type == 'video' %}{% assign has_video = true %}{% endif %}
{% endfor %}

<div class="card-product">

    <div class="card-product__media">
        <a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">
            <img 
                {% if request.design_mode %}
                src="{{ product.featured_image.src | img_url: '400x545', crop: "center" }}" 
                {% else %}
                src="{{ "placeholder-medium.jpg" | asset_url }}" 
                data-src="{{ product.featured_image.src | img_url: '400x545', crop: "center" }}" 
                {% endif %}
                alt="{{ product.title }}" 
                width="400" 
                height="545" 
            >
        </a>
    </div>

    <div class="card-product__details">
        <div class="card-product__title">
            <h4><a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">{{ product.title }}</a></h4>
        </div>
        <div class="card-product__price">
            {% render "product-price", product: product %}
        </div>
        <div class="card-product__wishlist">
            <button data-id="{{ product.id }}" data-product="{{ product.id }}" class="add-to-wishlist remove active">{% render "icon-wishlist.svg" %}<span>{{ 'cart.wishlist_remove' | t }}</span></button>
        </div>
    </div>

</div>