<link href="{{ "card-product-recommended.css" | asset_url }}" rel="stylesheet">

<div class="card-product-recommended">

    <div class="card-product-recommended__media">
        <a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">
            <img 
                src="{{ product.featured_image.src | img_url: '150x205', crop: "center" }}" 
                alt="{{ product.title }}" 
                width="150" 
                height="205" 
            >
        </a>
    </div>
    <div class="card-product-recommended__details">
        <div class="card-product-recommended__title">
            <h4><a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">{{ product.title }}</a></h4>
        </div>
        <div class="card-product-recommended__price">
            {% render "product-price", product: product %}
        </div>
    </div>

</div>