<link href="{{ "drawer-search.css" | asset_url }}" rel="stylesheet">
<link href="{{ "predictive-search.css" | asset_url }}" rel="stylesheet">

<div class="drawer-search">
    <predictive-search>
        <form action="/search" method="get" role="search" id="searchbox" autocomplete="off">
            <div class="drawer-search__input">
                <div class="wrap wrap--xx-large">
                    <label class="drawer-search__input__label" for="drawer-search-input">{{ "search.drawer.search_label" | t }}</label>
                    <input class="drawer-search__input__input" maxlength="32" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ "search.drawer.search_placeholder" | t }}" id="drawer-search-input" autocomplete="off">
                </div>
            </div>
        </form>
        <div id="predictive-search" tabindex="-1"></div>
    </predictive-search>
</div>

<script src="{{ "drawer-search.js" | asset_url }}" defer></script>