{% form 'recover_customer_password', class: "form form--forgot-password" %}
    {{ form.errors | default_errors }}
    <div class="form-row form-row--full">
        <label for="customer_email" class="required">{{ 'customer.forgot_password.email_label' | t }}</label>
        <input type="email" name="email" placeholder="{{ 'customer.forgot_password.email_placeholder' | t }}" required="required">
    </div>
    <div class="form-row form-row--full form-row--actions">
        <button type="submit" class="button button--full-width">{{ 'customer.forgot_password.submit_button' | t }}</button>
    </div>
    <div class="form-row form-row--full form-row--actions">
        <a href="#" class="toggle-login lowercase">{{ 'customer.forgot_password.cancel_link' | t }}</a>
    </div>
{% endform %}