<link href="{{ "menu-desktop.css" | asset_url }}" rel="stylesheet">

<nav>
    <ul class="menu menu-desktop">
    {% for block in section.blocks %}
        <li class="menu-desktop__item">
            <a href="{{ block.settings.url }}" class="menu-desktop__link">{{ block.settings.label }}</a>
            <div class="menu-desktop__mega-menu">
                <div class="wrap wrap--xx-large">
                    <div class="menu-desktop__mega-menu__inner">
                        {% if block.settings.feature_1_image != blank %}
                            <a href="{{ block.settings.feature_1_url }}" aria-label="{{ block.settings.feature_1_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_1_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_1_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_1_label }}"
                                >
                                <span class="label">{{ block.settings.feature_1_label }}</span>
                            </a>
                        {% endif %}
                        {% if block.settings.feature_2_image != blank %}
                            <a href="{{ block.settings.feature_2_url }}" aria-label="{{ block.settings.feature_2_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_2_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_2_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_2_label }}"
                                >
                                <span class="label">{{ block.settings.feature_2_label }}</span>
                            </a>
                        {% endif %}
                        {% if block.settings.feature_3_image != blank %}
                            <a href="{{ block.settings.feature_3_url }}" aria-label="{{ block.settings.feature_3_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_3_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_3_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_3_label }}"
                                >
                                <span class="label">{{ block.settings.feature_3_label }}</span>
                            </a>
                        {% endif %}
                        {% if block.settings.feature_4_image != blank %}
                            <a href="{{ block.settings.feature_4_url }}" aria-label="{{ block.settings.feature_4_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_4_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_4_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_4_label }}"
                                >
                                <span class="label">{{ block.settings.feature_4_label }}</span>
                            </a>
                        {% endif %}
                        {% if block.settings.feature_5_image != blank %}
                            <a href="{{ block.settings.feature_5_url }}" aria-label="{{ block.settings.feature_5_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_5_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_5_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_5_label }}"
                                >
                                <span class="label">{{ block.settings.feature_5_label }}</span>
                            </a>
                        {% endif %}
                        {% if block.settings.feature_6_image != blank %}
                            <a href="{{ block.settings.feature_6_url }}" aria-label="{{ block.settings.feature_6_label }}" class="preload">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ block.settings.feature_6_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ block.settings.feature_6_image.src | img_url: "300x400", crop: "center" }}" 
                                    {% endif %}
                                    width="300" 
                                    height="400" 
                                    alt="{{ block.settings.feature_6_label }}"
                                >
                                <span class="label">{{ block.settings.feature_6_label }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <span class="menu-desktop-device"></span>
</nav>

<script src="{{ "menu-desktop.js" | asset_url }}" defer></script>