<nav>
    <ul class="menu menu-main">
    {% for link in section.settings.menu.links %}
        <li class="menu-main__link{% if link.links.size > 0 %} menu-main__link--has-child{% endif %}">
            <a href="{{ link.url }}" aria-label="{{ link.title }}">{{ link.title }}</a>
            {% if link.links.size > 0 %}
            <ul class="menu menu-child">
                {% for child_link in link.links %}
                <li class="menu-child__link{% if child_link.links.size > 0 %} menu-child__link--has-grandchild{% endif %}">
                    <a href="{{ child_link.url }}" aria-label="{{ child_link.title }}">{{ child_link.title }}</a>
                    {% if child_link.links.size > 0 %}
                    <ul class="menu menu-grandchild">
                        {% for grandchild_link in child_link.links %}
                        <li class="menu-grandchild__link">
                            <a href="{{ grandchild_link.url }}" aria-label="{{ grandchild_link.title }}">{{ grandchild_link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>