<link href="{{ "menu-tools.css" | asset_url }}" rel="stylesheet">

<nav>
    <ul class="menu menu-tools">
        <li class="menu-tools__link menu-tools__link--account">
            <a href="{{ routes.account_url }}" aria-label="{{ 'general.tools_menu.account_label' | t }}">
                <span>{{ 'general.tools_menu.account_label' | t }}</span>
                {% render "icon-account.svg" %}
            </a>
        </li>
        <li class="menu-tools__link menu-tools__link--wishlist">
            <a href="{{ routes.root_url }}pages/wishlist" aria-label="{{ 'general.tools_menu.wishlist_label' | t }}">
                <span>{{ 'general.tools_menu.wishlist_label' | t }}</span>
                {% render "icon-wishlist.svg" %}
            </a>
        </li>
        <li class="menu-tools__link menu-tools__link--search">
            <a href="{{ routes.search_url }}" aria-label="{{ 'general.tools_menu.search_label' | t }}">
                <span>{{ 'general.tools_menu.search_label' | t }}</span>
                {% render "icon-search.svg" %}
            </a>
        </li>
        <li class="menu-tools__link menu-tools__link--cart">
            <a href="{{ routes.cart_url }}" aria-label="{{ 'general.tools_menu.cart_label' | t }}">
                <span>{{ 'general.tools_menu.cart_label' | t }}</span>
                {% render "icon-bag.svg" %}
            </a>
        </li>
    </ul>
<nav>