<ul class="menu menu-socials">
    {% if settings.url_fb != blank %}<li><a href="{{ settings.url_fb }}" target="_blank" aria-label="{{ shop.name }} Facebook"><img src="{{ "icon-facebook.svg" | asset_url }}" alt="{{ shop.name }} Facebook"></a></li>{% endif %}
    {% if settings.url_tw != blank %}<li><a href="{{ settings.url_tw }}" target="_blank" aria-label="{{ shop.name }} Twitter"><img src="{{ "icon-twitter.svg" | asset_url }}" alt="{{ shop.name }} Twitter"></a></li>{% endif %}
    {% if settings.url_yt != blank %}<li><a href="{{ settings.url_yt }}" target="_blank" aria-label="{{ shop.name }} Youtube"><img src="{{ "icon-youtube.svg" | asset_url }}" alt="{{ shop.name }} Youtube"></a></li>{% endif %}
    {% if settings.url_in != blank %}<li><a href="{{ settings.url_in }}" target="_blank" aria-label="{{ shop.name }} Instagram"><img src="{{ "icon-instagram.svg" | asset_url }}" alt="{{ shop.name }} Instagram"></a></li>{% endif %}
    {% if settings.url_tt != blank %}<li><a href="{{ settings.url_tt }}" target="_blank" aria-label="{{ shop.name }} TikTok"><img src="{{ "icon-tiktok.svg" | asset_url }}" alt="{{ shop.name }} TikTok"></a></li>{% endif %}
    {% if settings.url_pi != blank %}<li><a href="{{ settings.url_pi }}" target="_blank" aria-label="{{ shop.name }} Pinterest"><img src="{{ "icon-pinterest.svg" | asset_url }}" alt="{{ shop.name }} Pinterest"></a></li>{% endif %}
    {% if settings.url_sn != blank %}<li><a href="{{ settings.url_sn }}" target="_blank" aria-label="{{ shop.name }} Snapchat"><img src="{{ "icon-snapchat.svg" | asset_url }}" alt="{{ shop.name }} Snapchat"></a></li>{% endif %}
    {% if settings.url_li != blank %}<li><a href="{{ settings.url_li }}" target="_blank" aria-label="{{ shop.name }} Linkedin"><img src="{{ "icon-linkedin.svg" | asset_url }}" alt="{{ shop.name }} Linkedin"></a></li>{% endif %}
</ul>