<link href="{{ "fancybox.css" | asset_url }}" rel="stylesheet">
<link href="{{ "product-media.css" | asset_url }}" rel="stylesheet">

<div class="section-product__media product-media">
    <div class="swiper swiper-product-media">
        <div class="swiper-wrapper">
            {% for image in product.images %}
            <div class="section-product__image swiper-slide">
                <a href="{{ image | img_url: 'master' }}" data-fancybox="gallery">
                    <img 
                        {% if request.design_mode %}
                        src="{{ image.src | img_url: '768x1048', crop: "center" }}" 
                        {% else %}
                        data-src="{{ image.src | img_url: '768x1048', crop: "center" }}" 
                        src="{{ 'placeholder-large.jpg' | asset_url }}" 
                        {% endif %}
                        alt="{{ product.title }}" 
                        width="768" 
                        height="1048" 
                    >
                </a>
            </div>
            {% endfor %}
            {% for media in product.media %}
                {% if media.media_type == "video" %}
                <div class="section-product__image swiper-slide">
                    <a href="{{ media.sources[1].url }}" data-fancybox="gallery" data-type="iframe" data-width="768" data-height="1048">
                        <video muted="" loop="" playsinline="" autoplay="" poster="{{ media.preview_image | img_url: '768x1048', crop: "center" }}"{% unless request.design_mode %} data-src="{{ media.sources[1].url }}" class="preload"{% endunless %}>
                            {% if request.design_mode %}
                            <source src="{{ media.sources[1].url }}" type="video/mp4">
                            {% else %}
                            <source src="" type="video/mp4">
                            {% endif %}
                        </video>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="product-media-nav product-media-nav--prev"></div>
    <div class="product-media-nav product-media-nav--next"></div>
    <div class="media-pagination"></div>
</div>

<script src="{{ "fancybox.js" | asset_url }}"></script>
<script defer>

    const productMedia = document.querySelector('.product-media');

    const swiper_product_media = new Swiper('.swiper-product-media', {
        speed: 250,
        spaceBetween: 0,
        loop: true,
        slidesPerView: 1,
        pagination: {
            el: '.media-pagination',
            type: 'bullets',
        },
        navigation: {
          nextEl: '.product-media-nav--next',
          prevEl: '.product-media-nav--prev',
        },
        init: false,
    });

    const eventHandler = event => {
        if (window.innerWidth <= 768) {
            if (productMedia.classList.contains('slider-initialized')) return;
            swiper_product_media.init();
            productMedia.classList.add('slider-initialized');
        } else {
            if (!productMedia.classList.contains('slider-initialized')) return;
            swiper_product_media.destroy();
            productMedia.classList.remove('slider-initialized');
        }
    }

    window.addEventListener('DOMContentLoaded', eventHandler, false)
    window.addEventListener('resize', eventHandler, false)
    
</script>