{% if product.compare_at_price %}
<div class="price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <del>{{ product.compare_at_price | money }}</del>
    <ins itemprop="price" content="{{ product.price | money_without_currency }}">{{ product.price | money }}</ins>
    {% assign current_price = product.price | money_without_currency %}
    {% assign compare_price = product.compare_at_price | money_without_currency %}
    {% assign percentage_value = current_price | divided_by: compare_price | times: 100 %}
    {% assign savings = 100 | minus: percentage_value | round %}
    <span class="saving">({{ savings }}% {{ "products.product.saving" | t }})</span>
</div>
{% else %}
<div class="price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <span itemprop="price" content="{{ product.price | money_without_currency }}">{{ product.price | money }}</span>
</div>
{% endif %}