<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    
    {%- render 'meta-tags' %}
    {%- render 'meta-social' %}
    {%- render "meta-favicon" %}
    {%- render "meta-fonts" %}
    
    <!-- content for header -->
    {{ content_for_header }}

    <!-- core css -->
    <link href="{{ "application.css" | asset_url }}" rel="stylesheet">
    
    {% if template == "index" %}
      <script src="https://ig.instant-tokens.com/users/37ff5468-5275-4de3-ad2f-39e52419df25/instagram/6587700211251565/token.js?userSecret=v5j4bj2441p702aa46rwrm"></script>
    {% endif %}

    <!-- global variables -->
    <script>
      Shopify.money_format = '{{ shop.money_format }}';
      const label_add_to_cart = "{{ 'products.product.add_to_cart' | t }}";
      const label_sold_out = "{{ 'products.product.sold_out' | t }}";
      const label_preorder = "{{ 'products.product.preorder' | t }}";
      {%- if request.page_type == "product" %}
      const variant_stock = [
        {%- for variant in product.variants -%}
          {"id":{{ variant.id }},"quantity":{{ variant.inventory_quantity }}},
        {%- endfor -%}
      ]
      {%- endif %}
    </script>

    <!-- global colours -->
    <style>
      :root {
        --color-white: {{ settings.color_white }};
        --color-black: {{ settings.color_black }};
        --color-grey-light: {{ settings.color_grey_light }};
        --color-grey-medium: {{ settings.color_grey_medium }};
        --color-grey-dark: {{ settings.color_grey_dark }};
        --color-success: {{ settings.color_success }};
        --color-failure: {{ settings.color_failure }};
        --color-warning: {{ settings.color_warning }};
      }
    </style>

    {% render "globale-js" %}
    {% render "zopim" %}

  </head>

  <body class="template-{{ template | handleize }}">

    <script>
      window.KlarnaThemeGlobals={};
      {% case template.name %}
        {% when"product" %}
          {% if product.first_available_variant.price %}
            window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};
          {% endif %}
          window.KlarnaThemeGlobals.productVariants = {{ product.variants | json }};
          window.KlarnaThemeGlobals.documentCopy = document.cloneNode(true);
        {% when"cart" %}
          window.KlarnaThemeGlobals.data_purchase_amount = {{ cart.total_price }};
          window.KlarnaThemeGlobals.documentCopy = document.cloneNode(true);
      {%endcase%}
    </script>
    <script src="https://eu-library.klarnaservices.com/lib.js" data-client-id="1d10b0e6-8eab-5948-beff-a4af483f6384"></script>

    {% section "header" %}

    <main>

      {{ content_for_layout }}

    </main>
    
    {% section "footer" %}
    {% section "drawer-menu" %}
    
    {% if template == "collection" %}
    {% render "drawer-collection" %}
    {% endif %}
    
    {% unless template == "cart" %}
    {% render "drawer-cart" %}
    {% endunless %}

    <!-- core js -->
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    
    {% if template contains "customers" %}
    <!-- country selector -->
    <script src="{{ 'theme-addresses.js' | asset_url }}" defer></script>
    {% endif %}

    <script src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PYvQUW" defer async></script>

    <span class="menu-desktop-mask"></span>
    <span class="drawer-mask"></span>

  </body>
</html>
