{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "contact.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--xx-large wrap--{{section_id }}">

    <div class="section-contact__inner">

        <div class="section-contact__form">

            <div class="section-contact__header">
                <h3>{{ section.settings.title_form }}</h3>
            </div>

            {% form 'contact', class: "form form--contact" %}
                {% if form.posted_successfully? %}
                    <p>{{ 'contact_form.success_message' | t }}</p>
                {% else %}
                    {{ form.errors | default_errors }}
                    <div class="form-row form-row--full">
                        <label for="ContactFormName" class="required">{{ 'contact_form.name_label' | t }}</label>
                        <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'contact_form.name_placeholder' | t }}" required="required">
                    </div>
                    <div class="form-row form-row--full">
                        <label for="ContactFormEmail" class="required">{{ 'contact_form.email_label' | t }}</label>
                        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact_form.email_placeholder' | t }}" required="required">
                    
                    </div>
                    <div class="form-row form-row--full">
                        <label for="ContactFormPhone">{{ 'contact_form.phone_label' | t }}</label>
                        <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{ 'contact_form.phone_placeholder' | t }}">
                    </div>
                    <div class="form-row form-row--full">
                        <label for="ContactFormMessage" class="required">{{ 'contact_form.message_label' | t }}</label>
                        <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact_form.message_placeholder' | t }}" required="required"></textarea>
                    </div>
                    <div class="form-row form-row--full form-row--actions">
                        <button type="submit" class="button" aria-label="{{ 'contact_form.submit_button' | t }}">{{ 'contact_form.submit_button' | t }}</button>
                    </div>
                {% endif %}
            {% endform %}

        </div>

        <div class="section-contact__details">
            <div class="section-contact__content">
                <div class="section-contact__chat">
                    <div class="section-contact__header">
                        <h3>{{ section.settings.title_chat }}</h3>
                        {{ section.settings.text_chat }}
                        {% if section.settings.show_button %}
                        <div class="section-contact__actions">
                            <button onclick="$zopim.livechat.window.show();" class="button">{{ section.settings.label_chat }}</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="section-contact__email">
                    <div class="section-contact__header">
                        <h3>{{ section.settings.title_email }}</h3>
                        {{ section.settings.text_email }}
                    </div>
                </div>
            </div>
        </div>

        <div class="section-contact__accordions">
            <div class="section-contact__accordions__content">
                <div class="section-contact__address">
                    <div class="section-contact__header">
                        <h3>{{ section.settings.title_address }}</h3>
                        {{ section.settings.text_address }}
                    </div>
                </div>
                <div class="accordions">
                    <div class="accordion">
                        Accordion
                    </div>
                    <div class="accordion">
                        Accordion
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% schema %}
{
    "name": "Contact",
    "tag": "section",
    "class": "section-contact",
    "settings": [
        {
            "type": "header",
            "content": "Contact Form"
        },
        {
            "type": "text",
            "id": "title_form",
            "label": "Title",
            "default": "Write to us"
        },
        {
            "type": "header",
            "content": "Chat"
        },
        {
            "type": "text",
            "id": "title_chat",
            "label": "Title",
            "default": "Chat online"
        },
        {
            "type": "richtext",
            "id": "text_chat",
            "label": "Text"
        },
        {
            "type": "checkbox",
            "id": "show_button",
            "label": "Show chat button",
            "default": true
        },
        {
            "type": "text",
            "id": "label_chat",
            "label": "Butotn Label",
            "default": "Open chat"
        },
        {
            "type": "header",
            "content": "Email"
        },
        {
            "type": "text",
            "id": "title_email",
            "label": "Title",
            "default": "Email us"
        },
        {
            "type": "richtext",
            "id": "text_email",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "Address"
        },
        {
            "type": "text",
            "id": "title_address",
            "label": "Title",
            "default": "Office address"
        },
        {
            "type": "richtext",
            "id": "text_address",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}