{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<div class="wrap wrap--xx-large wrap--{{section_id }}">

    <div class="footer-main__inner">

        <div class="footer-main__branding">
            <a href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
                <img src="{{ "logo-phix-white.png" | asset_url }}" alt="{{ shop.name }}" width="432" height="125">
            </a>
        </div>

        <div class="footer-main__rows">
            <div class="footer-main__menus">
                {% for block in section.blocks %}
                    <div class="footer-main__menu">
                        <div class="menu-footer__title">{{ block.settings.title }}</div>
                        <nav class="menu-footer">
                            <ul>
                            {% for link in block.settings.menu.links %}
                                <li><a href="{{ link.url }}" aria-label="{{ link.title }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </nav>
                    </div>
                {% endfor %}
            </div>
            <div class="footer-main__aside">
                <div class="footer-main__aside__newsletter">
                    <div class="footer-main__aside__heading">
                        <span>{{ section.settings.heading }}</span>
                    </div>
                    <div class="footer-main__aside__sign-up">
                        {{ section.settings.code }}
                    </div>
                </div>
                <div class="footer-main__aside__trustpilot">
                    <img src="{{ "trustpilot-footer.png" | asset_url }}" width="800" height="60" alt="Trust Score">
                </div>
            </div>
        </div>

        
        <div class="footer-main__lower">
            <div class="footer-main__socials">
              <ul>
                {% if section.settings.url_fb != blank %}<li><a href="{{ section.settings.url_fb }}" target="_blank" aria-label="{{ shop.name }} Facebook"><img src="{{ "icon-facebook.svg" | asset_url }}" alt="{{ shop.name }} Facebook"></a></li>{% endif %}
                {% if section.settings.url_tw != blank %}<li><a href="{{ section.settings.url_tw }}" target="_blank" aria-label="{{ shop.name }} Twitter"><img src="{{ "icon-twitter.svg" | asset_url }}" alt="{{ shop.name }} Twitter"></a></li>{% endif %}
                {% if section.settings.url_yt != blank %}<li><a href="{{ section.settings.url_yt }}" target="_blank" aria-label="{{ shop.name }} Youtube"><img src="{{ "icon-youtube.svg" | asset_url }}" alt="{{ shop.name }} Youtube"></a></li>{% endif %}
                {% if section.settings.url_in != blank %}<li><a href="{{ section.settings.url_in }}" target="_blank" aria-label="{{ shop.name }} Instagram"><img src="{{ "icon-instagram.svg" | asset_url }}" alt="{{ shop.name }} Instagram"></a></li>{% endif %}
                {% if section.settings.url_tt != blank %}<li><a href="{{ section.settings.url_tt }}" target="_blank" aria-label="{{ shop.name }} TikTok"><img src="{{ "icon-tiktok.svg" | asset_url }}" alt="{{ shop.name }} TikTok"></a></li>{% endif %}
                {% if section.settings.url_pi != blank %}<li><a href="{{ section.settings.url_pi }}" target="_blank" aria-label="{{ shop.name }} Pinterest"><img src="{{ "icon-pinterest.svg" | asset_url }}" alt="{{ shop.name }} Pinterest"></a></li>{% endif %}
                {% if section.settings.url_sn != blank %}<li><a href="{{ section.settings.url_sn }}" target="_blank" aria-label="{{ shop.name }} Snapchat"><img src="{{ "icon-snapchat.svg" | asset_url }}" alt="{{ shop.name }} Snapchat"></a></li>{% endif %}
                {% if section.settings.url_li != blank %}<li><a href="{{ section.settings.url_li }}" target="_blank" aria-label="{{ shop.name }} Linkedin"><img src="{{ "icon-linkedin.svg" | asset_url }}" alt="{{ shop.name }} Linkedin"></a></li>{% endif %}
              </ul>
            </div>
            <div class="footer-main__info">
                <p>{{ section.settings.info_text }}</p>
            </div>
        </div>

    </div>

</div>

{% schema %}
{
    "name": "Footer",
    "tag": "footer",
    "class": "footer-main",
    "blocks":[
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Menu Title"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Newsletter"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Get notified of exclusive first drops"
        },
        {
            "type": "textarea",
            "id": "code",
            "label": "Klaviyo Code",
            "default": "<div class='klaviyo-form-TUWADC k1'></div>"
        },
        {
            "type": "header",
            "content": "Social Settings"
        },
        {
            "type": "url",
            "id": "url_fb",
            "label": "Facebook"
        },
        {
            "type": "url",
            "id": "url_tw",
            "label": "Twitter"
        },
        {
            "type": "url",
            "id": "url_yt",
            "label": "Youtube"
        },
        {
            "type": "url",
            "id": "url_in",
            "label": "Instagram"
        },
        {
            "type": "url",
            "id": "url_tt",
            "label": "Tiktok"
        },
        {
            "type": "url",
            "id": "url_pi",
            "label": "Pinterest"
        },
        {
            "type": "url",
            "id": "url_sn",
            "label": "Snapchat"
        },
        {
            "type": "url",
            "id": "url_li",
            "label": "LinkedIn"
        },
        {
            "type": "header",
            "content": "Company Info"
        },
        {
            "type": "textarea",
            "id": "info_text",
            "label": "Text",
            "default": "© 2023 Rock n Roller Limited trading as Phix Clothing"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}