{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}

{% assign has_announcements = false %}
{% for block in section.blocks %}
    {% case block.type %}
        {% when "global_announcement" %}
            {% assign has_announcements = true %}
        {% when "regional_announcement" %}
            {% assign has_announcements = true %}
    {% endcase %}
{% endfor %}

{% if has_announcements == true %}
{% render "announcements", section: section %}
{% endif %}

<div class="wrap wrap--xx-large wrap--{{ section_id }}">

    <div class="header-main__inner">

        <div class="header-main__menu">
            <button class="toggle-drawer-menu" aria-label="Toggle Mobile Menu">{% render "icon-mobile-menu.svg" %}</button>
            {% render "menu-desktop", section: section %}
        </div>

        <div class="header-main__branding">
            <a href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
                {% if template == "index" %}
                    <h1 style="display:none;">{{ shop.name }}</h1>
                {% endif %}
                <img src="{{ "logo-phix.png" | asset_url }}" alt="{{ shop.name }}" width="432" height="125">
            </a>
        </div>

        <div class="header-main__tools">
            {% render "menu-tools" %}
            {% render "drawer-search" %}
        </div>

    </div>
    
</div>

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "header-main",
    "blocks": [
        {
            "type": "global_announcement",
            "name": "Global Announcement",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Announcement"
                }
            ]
        },
        {
            "type": "regional_announcement",
            "name": "Regional Announcement",
            "settings": [
                {
                    "type": "header",
                    "content": "Display condition"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Region type",
                    "options": [
                        {
                            "value": "country",
                            "label": "Country"
                        },
                        {
                            "value": "continent",
                            "label": "Continent"
                        }
                    ],
                    "default": "country"
                },
                {
                    "type": "select",
                    "id": "condition",
                    "label": "Condition",
                    "options": [
                        {
                            "value": "equals",
                            "label": "Equals"
                        },
                        {
                            "value": "does_not_equal",
                            "label": "Does not equal"
                        }
                    ],
                    "default": "equals"
                },
                {
                    "type": "text",
                    "id": "code",
                    "label": "Country Code",
                    "default": "GB"
                },
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Announcement"
                }
            ]
        },
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label",
                    "default" : "Menu Label"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Target"
                },
                {
                    "type": "header",
                    "content": "Feature 1"
                },
                {
                    "type": "text",
                    "id": "feature_1_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_1_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_1_image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Feature 2"
                },
                {
                    "type": "text",
                    "id": "feature_2_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_2_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_2_image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Feature 3"
                },
                {
                    "type": "text",
                    "id": "feature_3_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_3_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_3_image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Feature 4"
                },
                {
                    "type": "text",
                    "id": "feature_4_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_4_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_4_image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Feature 5"
                },
                {
                    "type": "text",
                    "id": "feature_5_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_5_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_5_image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Feature 6"
                },
                {
                    "type": "text",
                    "id": "feature_6_label",
                    "label": "Label",
                    "default" : "Feature"
                },
                {
                    "type": "url",
                    "id": "feature_6_url",
                    "label": "Target"
                },
                {
                    "type": "image_picker",
                    "id": "feature_6_image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}