{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "lookbooks.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--x-large wrap--{{ section_id }}">

    <div class="section-lookbooks__inner">

        {% for block in section.blocks %}
            <div class="section-lookbooks__lookbook {{ block.settings.color_scheme}}">
                <div class="section-lookbooks__lookbook__content {{ block.settings.color_scheme}}">
                    <h3>{{ block.settings.title }}</h3>
                </div>
                {% if block.settings.image != blank %}
                <div class="section-lookbooks__lookbook__image">
                    <img 
                        {% if request.design_mode %}
                        src="{{ block.settings.image.src | img_url: 'master' }}" 
                        {% else %}
                        src="{{ "preload.gif" | asset_url }}" 
                        data-src="{{ block.settings.image.src | img_url: 'master' }}" 
                        class="preload" 
                        {% endif %}
                        alt="{{ block.settings.image.alt }}" 
                        width="{{ block.settings.image.width }}" 
                        height="{{ block.settings.image.height }}"
                    >
                </div>
                {% endif %}
                <a href="{{ block.settings.url }}" class="section-lookbooks__lookbook__link">&nbsp;</a>
            </div>
        {% endfor %}

    </div>

</div>

{% schema %}
{
    "name": "Lookbooks",
    "tag": "section",
    "class": "section-lookbooks",
    "blocks": [
        {
            "type": "lookbook",
            "name": "Lookbook",
            "settings": [
                {
                    "type": "select",
                    "id": "color_scheme",
                    "label": "Colour scheme",
                    "options": [
                        {
                            "value": "white",
                            "label": "Light"
                        },
                        {
                            "value": "black",
                            "label": "Dark"
                        }
                    ],
                    "default": "white"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Background image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Lookbook title"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}