{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-account.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--x-large wrap--{{section_id }}">

    {% render "account-aside" %}
    
    <div id="customer_orders">
        <h3>{{ 'account.orders.orders_title' | t }}</h3>
        {% paginate customer.orders by 10 %}
        {% if customer.orders.size != 0 %}
        <ul class="orders">
            {% for order in customer.orders %}
                {% assign count = 0 %}
                {% for line_item in order.line_items %}
                    {% assign count = count | plus: 1 %}
                {% endfor %}
                <li class="orders__order">
                    <h4 class="orders__order--name">{{ order.name | link_to: order.customer_url }}</h4>
                    <div class="orders_order--media">
                    {% for line_item in order.line_items %}
                        {% if forloop.first == true %}
                        <p><a href="{{ order.customer_url }}"><img src="{{ line_item.image.src | img_url: "compact" }}"></a></p>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="orders__order--details">
                        <div class="orders__order--meta">
                            <p class="orders__order--date">{{ 'account.orders.order_date' | t }} <span>{{ order.created_at | date: "%b %d, %Y" }}</span></p>
                            <p class="orders__order--summary">{{ 'account.orders.order_summary' | t }} <span>{{ count }} {{ 'account.orders.order_summary_items' | t }}</span></p>
                            <p class="orders__order--status">{{ 'account.orders.order_status' | t }} <span>{{ order.financial_status | capitalize }}</span></p>
                            <p class="orders__order--total">{{ 'account.orders.order_total' | t }} <span>{{ order.total_price | money }}</span></p>
                        </div>
                        <p class="orders__order--link"><a href="{{ order.customer_url }}">{{ 'account.orders.view_order' | t }}</a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>{{ 'account.orders.no_orders' | t }}</p>
        {% endif %}
        {{ paginate | default_pagination }}
        {% endpaginate %}
    </div>

</div>

{% schema %}
{
    "name": "Account",
    "tag": "section",
    "class": "section-account",
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}