{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-account.css" | asset_url }}" rel="stylesheet">
<link href="{{ "main-addresses.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--large wrap--{{ section_id }}">

    <div class="section-account__inner">

        {% render "account-aside" %}

        <div class="section-account__container section-addresses__content" id="customer-addresses">
            
            {% render "account-address-new", customer: customer %}
            {% render "account-address-edit", customer: customer %}

            <div class="section-account__header">
                <h2>{{ 'customer.addresses.addresses_title' | t }}</h2>
            </div>

            <div class="section-addresses__list">

                {% for address in customer.addresses %}
                    <div class="section-addresses__list__address{% if address == customer.default_address %} section-addresses__list__address--default{% endif %}" data-address-id="{{ address.id }}">
                        {% if address == customer.default_address %}<span class="default"><span>{{ 'customer.addresses.default' | t }}</span></span>{% endif %}
                        <div class="section-addresses__list__address__details">
                          {% if address.first_name != blank and address.last_name != blank %}<span class="name"><strong>{{ address.first_name }} {{ address.last_name }}</strong></span>{% endif %}
                          {% if address.address1.size > 0 %}<span>{{ address.address1 }}</span>{% endif %}
                          {% if address.address2.size > 0 %}<span>{{ address.address2 }}</span>{% endif %}
                          {% if address.city.size > 0 %}<span>{{ address.city }}</span>{% endif %}
                          {% if address.province.size > 0 %}<span>{{ address.province }}</span>{% endif %}
                          {% if address.country.size > 0 %}<span>{{ address.country }}</span>{% endif %}
                          {% if address.zip.size > 0 %}<span>{{ address.zip }}</span>{% endif %}
                          {% if address.phone.size > 0 %}<span>{{ address.phone }}</span>{% endif %}
                        </div>
                        <div class="section-addresses__list__address__actions">
                            <button data-address="{{address.id}}" class="button-edit-address" type="button">{{ 'customer.addresses.edit_button' | t }}</button>
                            {% unless address == customer.default_address %}
                            <form class="section-addresses__list__address__delete" method="post" action="/account/addresses/{{ address.id }}">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="button-delete-address">{{ 'customer.addresses.delete_button' | t }}</button>
                            </form>
                            {% endunless %}
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="section-addresses__actions">
                <button class="button button--new-address">
                    <span>{{ 'customer.addresses.add_new_address_button' | t }}</span>
                </button>
            </div>

        </div>

    </div>

</div>
<script>const confirm_delete = "{{ "customer.addresses.confirm_delete" | t }}";</script>
<script src="{{ "main-addresses.js" | asset_url }}" defer></script>

{% schema %}
{
    "name": "Addresses",
    "tag": "section",
    "class": "section-account section-addresses",
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 128
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 128
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        }
    ]
}
{% endschema %}