{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-search.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--xx-large wrap--{{section_id }}">

    <form action="/search" method="get" role="search">
        <label>{{ 'search.search_label' | t }}</label>
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'search.search_placeholder' | t }}">
        <button type="submit" class="button">{{ 'search.search_submit' | t }}</button>
    </form>

    {% paginate search.results by 10 %}
    {% if search.performed %}
        {% for item in search.results %}
        {% if item.object_type == 'product' %}
            {% render "card-product", product: item %}
        {% endif %}
        {% else %}
        <p>{{ 'search.no_results' | t }}</p>
        {% endfor %}
    {% endif %}
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}
    {% endpaginate %}

</div>

{% schema %}
{
"name": "Search",
"tag": "section",
"class": "section-search",
"settings": [
    {
        "type": "header",
        "content": "Desktop padding"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 128,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 64
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 128,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 64
    },
    {
        "type": "header",
        "content": "Mobile padding"
    },
    {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 128,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 32
    },
    {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 128,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 32
    }
]
}
{% endschema %}