{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<span id="products-per-page" style="display:none">{{ section.settings.product_count }}</span>
<span id="total-products" style="display:none;">{{ collection.products_count }}</span>

<link href="{{ "main-collection.css" | asset_url }}" rel="stylesheet">
<link href="{{ "product-collection-grid.css" | asset_url }}" rel="stylesheet">
<link href="{{ "product-filters.css" | asset_url }}" rel="stylesheet">
<link href="{{ "pagination.css" | asset_url }}" rel="stylesheet">

{%- for filter in collection.filters -%}
    {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
            {%- assign has_range = true -%}
        {%- endif -%}
    {%- else -%}
        {%- for filter_value in filter.active_values -%}
            {%- assign filter_count = filter_count | plus: 1 -%}
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}

<div class="wrap wrap--xx-large wrap--{{section_id }} wrap--no-padding-s-mobile">

    <div class="section-collection__tray product-filters">
        <div class="product-filters__inner">
            <div class="product-filters__toggle">
                <button class="toggle-collection-drawer" aria-label="Filter &amp; Sort">{% render "icon-filter-sort.svg" %}<span>Filter &amp; Sort</span></button>
            </div>
            {%- if filter_count >= 1 or has_range == true -%}
                <div class="product-filters__active">{%- assign filter_count = 0 -%}{%- for filter in collection.filters -%}{%- if filter.type == "price_range" -%}{%- assign has_range = false -%}{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}{%- assign has_range = true -%}<a class="product-filters__remove" href="{{ filter.url_to_remove }}"><span>{%- assign min_value = filter.min_value.value | default: 0 -%}{%- assign max_value = filter.max_value.value | default: filter.range_max -%}{{- min_value | money -}} - {{- max_value | money -}}</span>{% render "icon-close.svg" %}</a>{%- endif -%}{%- else -%}{%- for filter_value in filter.active_values -%}{%- assign filter_count = filter_count | plus: 1 -%}<a class="product-filters__remove filter-{{ filter_value.value | handleize}}" href="{{ filter_value.url_to_remove }}"><span>{{ filter_value.label }}</span>{% render "icon-close.svg" %}</a>{%- endfor -%}{%- endif- %}{%- endfor -%}{%- unless collection.products.size == 0 -%}{%- if filter_count >= 1 or has_range == true -%}<a href="{{ collection.url }}" class="product-filters__remove underline"><span>{{ "filters.clear" | t }}</span></a>{%- endif -%}{%- endunless -%}</div>
            {%- endif -%}
            <div class="product-filters__count">
                <div class="product-filters__count__value">
                    <span id="product-count-range"></span>
                    <span>{{ collection.products_count }} {{ collection.products_count | pluralize: 'Item', 'Items' }}</span>
                </div>
                <div class="product-filters__view">
                    <button class="collection-view-toggle collection-view-toggle--multi active">{% render "icon-column-multi.svg" %}</button>
                    <button class="collection-view-toggle collection-view-toggle--single">{% render "icon-column-single.svg" %}</button>
                </div>
            </div>
        </div>
    </div>

    {% paginate collection.products by section.settings.product_count %}
        <ul class="products" id="products">
        <!--[product-cards]-->
        {% for product in collection.products %}
            {% assign available = false %}
            {% if product.available or product.tags contains "preorder" %}{% assign available = true %}{% endif %}
            {% if available == true %}
            <li class="products__product">{% render "card-product", product: product %}</li>
            {% endif %}
        {% else %}
            <li class="products__no-product"><p>{{ 'collection.no_products' | t }}</p></li>
        {% endfor %}
        <!--[/product-cards]-->
        </ul>
        {% if paginate.pages > 1 %}
        <div class="pagination">
            {% render "icon-loading.svg" %}
            <button id="load-more" class="button button--secondary">{{ "collection.load_more" | t }}</button>
        </div>
        {% endif %}
    {% endpaginate %}

</div>

<script src="{{ "main-collection.js" | asset_url }}" defer></script>

{% schema %}
{
    "name": "Collection",
    "tag": "section",
    "class": "section-collection",
    "settings": [
        {
            "type": "number",
            "id": "product_count",
            "label": "Products per page",
            "default": 24
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 48
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}