{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-cart.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--xx-large wrap--{{section_id }}">
  
    <div class="section-cart__header{% unless cart.item_count > 0 %} cart-empty{% endunless%}">
        <h1>{{ 'cart.title' | t }}</h1>
    </div>

    <div class="section-cart__inner{% unless cart.item_count > 0 %} cart-empty{% endunless%}">

    {% if cart.item_count > 0 %}
        <div class="cart-items">
            {% for item in cart.items %}
            <div class="cart-item">
                <div class="cart-item__media">
                    <a href="{{ item.url | within: collections.all }}" aria-label="{{ item.product.title }}">
                        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.product.title }}">
                    </a>
                </div>
                <div class="cart-item__details">
                    <a href="{{ item.url }}" aria-label="{{ item.product.title }}">{{ item.product.title }}</a>
                    <div class="cart-item__variant">
                        <span>{{ item.variant.title }}</span>
                    </div>
                    <div class="cart-item__price">
                        <span>{{ item.price | money }}</span>
                    </div>
                    <div class="cart-item__quantity">
                        <span data-quantity="{{ item.quantity }}" style="display:none"></span>
                        {% render "cart-quantity", item: item %}
                    </div>
                    <div class="cart-item__line-price">
                    {% if item.original_line_price != item.line_price %}<span>{{ item.original_line_price | money }}</span> {% endif %}
                        <span>{{ item.line_price | money }}</span>
                    {% for discount in item.discounts %}<span>{{ discount.title }}</span>{% endfor %}
                    </div>
                    <div class="cart-item__remove">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="{{ 'cart.remove_item' | t }}">{{ 'cart.remove_item' | t }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cart-totals">
            <div class="cart-totals__sub-total">
                <span>{{ 'cart.sub_total' | t }}:</span> <span>{{ cart.total_price | money }}</span>
            </div>
            <div class="cart-totals__actions">
                {% form 'cart', cart %}
                    <button type="submit" name="checkout" class="button" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</button>
                    <button type="submit" name="update" class="button button--secondary" aria-label="{{ 'cart.update_cart' | t }}">{{ 'cart.update_cart' | t }}</button>
                {% endform %}
            </div>
        </div>
    {% else %}
        <p>{{ 'cart.cart_empty' | t }}</p>
    {% endif %}

    </div>
    
</div>

{% schema %}
{
    "name": "Cart",
    "tag": "section",
    "class": "section-cart",
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}