{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-product.css" | asset_url }}" rel="stylesheet">

{% assign current_variant = product.selected_or_first_available_variant %}

{% if customer %}
{% assign wishlistItems = customer.metafields.cake.wishlist_items.value %}
{% assign productInWishlist = false %}
{% assign productId = product.id %}
{% if wishlistItems != empty %}
    {% for product in customer.metafields.cake.wishlist_items.value %}
        {% if product.id == productId %}
            {% assign productInWishlist = true %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}

<!-- {{ productInWishlist }} -->

<div class="wrap wrap--xx-large wrap--{{ section_id }} wrap--no-padding-mobile">

    {% render "breadcrumbs" %}

    <div class="section-product__product">

        {% render "product-media", product: product %}

        <div class="section-product__container">
            <div class="section-product__details">

                {% form 'product', product, class: "product-form" %}

                    <input type="hidden" name="properties[_MID_Name]" value="{{ product.metafields.mid_info.mid_name.value }}" />
                    <input type="hidden" name="properties[_MID_Code]" value="{{ product.metafields.mid_info.mid_code.value }}" />
                    <input type="hidden" name="properties[_MID_Address]" value="{{ product.metafields.mid_info.mid_address.value }}" />

                    {% if product.available %}
                    <div class="section-product__details__availability">
                        <span class="alert">
                            <span class="marker"><span></span></span>
                            <span class="label">{{ "products.product.in_stock" | t }}</span>
                        </span>
                        <span class="wishlist-message">{{ "products.product.wishlist_login" | t }}</span>
                        <span class="added-message">{{ "products.product.wishlist_added" | t }}</span>
                        <span class="remove-message">{{ "products.product.wishlist_removed" | t }}</span>
                    </div>
                    {% endif %}
                
                    <div class="section-product__details__title">
                        <h1>{{ product.title }}</h1>
                        <button type="button" data-id="{{ product.id }}" data-product="{{ product.id }}" class="add-product-to-wishlist{% if customer %} active{% endif %}{% if productInWishlist == true %} added{% endif %}">
                            {% render "icon-wishlist.svg" %}
                        </button>
                    </div>

                    {% assign product_colours = product.metafields.product.colours.value %}
                    {% if product_colours != blank %}
                    <div class="section-product__details__colour">
                        <span>{% if product_colours.size == 1 %}{{ "products.product.colour" | t }} {% else %}{{ "products.product.colours" | t }} {% endif %}
                        {% for colour in product_colours %}
                            {% unless forloop.first %} / {% endunless %}
                            {{ colour }}
                        {% endfor %}
                        </span>
                    </div>
                    {% endif %}

                    <div class="section-product__details__price">
                        {% render "product-price", product: product %}
                    </div>

                    <div id="esc-oos-form"></div>

                    <div class="section-product__details__variants">
                        <div class="section-product__details__variants__name">
                            <span class="variant-name">{{ "products.product.size" | t }}</span>
                            <span class="variant-warning hidden">{{ "products.product.select_size" | t }}</span>
                            {% assign has_size_guide = false %}
                            {% for object in shop.metaobjects['size_chart'].values %}
                                {% if object.product_type == product.type %}
                                    <button class="toggle-size-modal" aria-label="{{ "products.product.size_guide" | t }}"><span>{{ "products.product.size_guide" | t }}</span></button>
                                    {% assign has_size_guide = true %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% render "product-variants", product: product %}
                    </div>

                    {% render "product-quantity" , product: product %}

                    <div class="section-product__details__actions">
                        {% if product.available %}
                        <button type="submit" name="add" class="button button--add-to-cart button--highlight button--full-width button--tall" aria-label="{{ 'products.product.add_to_cart' | t }}"><span>{{ 'products.product.add_to_cart' | t }}</span></button>
                        {% else %}
                        <button type="submit" name="add" class="button button--add-to-cart button--full-width" aria-label="{{ 'products.product.sold_out' | t }}" disabled>{{ 'products.product.sold_out' | t }}</button>
                        {% endif %}
                    </div>

                    <div class="section-product__details__messages">
                        {% for block in section.blocks %}
                            {% case block.type %}
                                {% when "global_announcement" %}
                                <div class="product-message product-message-global"{% if block.settings.code != blank %} data-region="{{ block.settings.type }}" data-code="{{ block.settings.code }}{% endif %}">
                                    <span>{{ block.settings.title }}</span>
                                </div>
                                {% when "continent_announcement" %}
                                <div class="product-message product-message-continent" data-continent="{{ block.settings.continent_code }}" data-countries="{% if block.settings.country_codes != blank %}{{ block.settings.country_codes }}{% else %}EMPTY{% endif %}">
                                    <span>{{ block.settings.title }}</span>
                                </div>
                                {% when "country_announcement" %}
                                <div class="product-message product-message-country" data-countries="{% if block.settings.country_codes != blank %}{{ block.settings.country_codes }}{% else %}EMPTY{% endif %}">
                                    <span>{{ block.settings.title }}</span>
                                </div>
                            {% endcase %}
                        {% endfor %}
                    </div>

                    <div class="section-product__details__klarna">
                        <!-- Placement v1 -->
                        <klarna-placement
                            data-id1="f4d06adf-37ef-4a99-b176-184905040ee0"
                            data-key="credit-promotion-badge"
                            data-locale="en-GB"
                            data-purchase_amount="{{ product.selected_or_first_available_variant.price }}"
                            data-theme="custom"
                        ></klarna-placement>
                        <!-- end Placement -->
                    </div>

                    <div class="section-product__details__accordions">
                        {% render "product-accordions", product: product, section: section %}
                    </div>

                    {% if product.metafields.product.complete_the_look.value != blank %}
                    <div class="section-product__details__look">
                        <div class="section-product__details__look__header">
                            <h4>{{ "products.product.complete_the_look" | t }}</h4>
                        </div>
                        <div class="section-product__details__look__products">
                        {% assign look_products = product.metafields.product.complete_the_look.value.look_products.value %}
                        {% assign current_product = product.id %}
                        {% for product in look_products %}
                            {% unless product.id == current_product %}
                            <a href="{{ product.url }}" aria-label="{{ product.title }}">
                                <img 
                                    {% if request.design_mode %}
                                    src="{{ product.featured_image.src | img_url: '200x270', crop: "center" }}" 
                                    {% else %}
                                    src="{{ "preload.gif" | asset_url }}" 
                                    data-src="{{ product.featured_image.src | img_url: '200x270', crop: "center" }}" 
                                    class="preload" 
                                    {% endif %}
                                    alt="{{ product.title }}" 
                                    width="200" 
                                    height="270" 
                                >
                            </a>
                            {% endunless %}
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                {% endform %}

                {% unless product.tags contains "hideNBIS" %}
                {% render "sc-back-in-stock", product: product %}
                {% endunless %}

            </div>
            
        </div>

    </div>
    
</div>

{% if has_size_guide == true %}
    {% render "drawer-guides", object: object, current_product_type: product.type %}
{% endif %}

<script src="{{ "main-product.js" | asset_url }}"></script>

{% schema %}
{
    "name": "Product",
    "tag": "section",
    "class": "section-product",
    "blocks": [
        {
            "type": "global_announcement",
            "name": "Global Announcement",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Announcement"
                },
                {
                    "type": "header",
                    "content": "Exclusions"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Region type",
                    "options": [
                        {
                            "value": "country",
                            "label": "Country"
                        },
                        {
                            "value": "continent",
                            "label": "Continent"
                        }
                    ],
                    "default": "country"
                },
                {
                    "type": "text",
                    "id": "code",
                    "label": "Codes",
                    "info": "For multiple entries use a comma seperated list. Full list of country codes: https://www.nationsonline.org/oneworld/country_code_list.htm"
                }
            ]
        },
        {
            "type": "country_announcement",
            "name": "Country Announcement",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Announcement"
                },
                {
                    "type": "header",
                    "content": "Countries"
                },
                {
                    "type": "text",
                    "id": "country_codes",
                    "label": "Codes",
                    "info": "For multiple entries use a comma seperated list. Full list of country codes: https://www.nationsonline.org/oneworld/country_code_list.htm"
                }
            ]
        },
        {
            "type": "continent_announcement",
            "name": "Continent Announcement",
            "settings": [
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Announcement"
                },
                {
                    "type": "header",
                    "content": "Continent"
                },
                {
                    "type": "select",
                    "id": "continent_code",
                    "label": "Continent",
                    "options": [
                        {
                            "value": "AF",
                            "label": "Africa"
                        },
                        {
                            "value": "AS",
                            "label": "Asia"
                        },
                        {
                            "value": "EU",
                            "label": "Europe"
                        },
                        {
                            "value": "NA",
                            "label": "North America"
                        },
                        {
                            "value": "SA",
                            "label": "South America"
                        },
                        {
                            "value": "OC",
                            "label": "Oceania"
                        },
                        {
                            "value": "AN",
                            "label": "Antarctica"
                        }
                    ],
                    "default": "EU"
                },
                {
                    "type": "header",
                    "content": "Excluded Countries"
                },
                {
                    "type": "text",
                    "id": "country_codes",
                    "label": "Codes",
                    "info": "For multiple entries use a comma seperated list. Full list of country codes: https://www.nationsonline.org/oneworld/country_code_list.htm"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Details & Care"
        },
        {
            "type": "text",
            "id": "care_title",
            "label": "Title",
            "default": "Details & Care"
        },
        {
            "type": "richtext",
            "id": "care_text",
            "label": "Default Text",
            "default": "<p>Shell: 100% velvet. Hand wash only.</p>"
        },
        {
            "type": "header",
            "content": "Delivery & Returns"
        },
        {
            "type": "text",
            "id": "delivery_title",
            "label": "Title",
            "default": "Delivery & Returns"
        },
        {
            "type": "richtext",
            "id": "delivery_text",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}
 {% render 'cross-sell' %}