{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "main-cart.css" | asset_url }}" rel="stylesheet">
<link href="{{ "cart-items.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--large wrap--{{ section_id }}">
  
    <div class="section-cart__header{% unless cart.item_count > 0 %} cart-empty{% endunless%}">
        <h1>{{ 'cart.title' | t }}</h1>
        <div class="section-cart__preorder-warning">
            <p class="preorder-warning">{{ "cart.preorder" | t }}</p>
        </div>
    </div>

    <div class="section-cart__inner{% unless cart.item_count > 0 %} cart-empty{% endunless%}">

    {% if cart.item_count > 0 %}
        <div class="cart-items">
            <!--[cart-items]-->
            {% for item in cart.items %}
            <div class="cart-item">
                <div class="cart-item__media">
                    <a href="{{ item.url | within: collections.all }}" aria-label="{{ item.product.title }}">
                        <img 
                            {% if request.design_mode %}
                                src="{{ item | img_url: '176x240' }}"
                            {% else %}
                                src="{{ "preload.gif" | asset_url }}"
                                data-src="{{ item | img_url: '176x240' }}"
                                class="preload"
                            {% endif %} 
                            alt="{{ item.product.title }}"
                        >
                    </a>
                </div>
                <div class="cart-item__details">
                    <div class="cart-item__header">
                        <a href="{{ item.url }}" aria-label="{{ item.product.title }}" class="title">{{ item.product.title }}</a>
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="{{ 'cart.remove_item' | t }}" data-product="{{ item.id }}" class="cart-remove">
                            {% render "icon-close.svg" %}
                            <span>{{ 'cart.remove_item' | t }}</span>
                        </a>
                    </div>
                    {% comment %} {% assign item_colour = item.product.metafields.product.colour %}
                    {% if item_colour != blank %}
                    <div class="cart-item__colour">
                        <span>Colour: {{ item_colour }}</span>
                    </div>
                    {% endif %} {% endcomment %}
                    <div class="cart-item__variant">
                        <span>{{ item.variant.title }}</span>
                    </div>
                    {% if item.quantity >= 2 %}
                    <div class="cart-item__quantity">
                        <span>Quantity: {{ item.quantity }}</span>
                    </div>
                    {% endif %}
                    <div class="cart-item__price">
                    {% if item.product.compare_at_price %}
                        <span class="price">
                            <del>{{ item.product.compare_at_price | money }}</del>
                            <ins>{{ item.product.price | money }}</ins>
                        </span>
                    {% else %}
                        <span class="price">{{ item.product.price | money }}</span>
                    {% endif %}
                    </div>
                    {% for property in item.properties %}
                        {% if property.first == "Preorder Note" %}
                            <div class="cart-item__note">
                                <span>{{ property.last }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if item.discounts != blank %}
                        <div class="cart-item__discount">
                        {% for discount in item.discounts %}
                            <span>{{ discount.title }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}
                    <div class="cart-item__wishlist">
                        <button data-id="{{ item.product.id }}" data-product="{{ item.id }}" class="add-to-wishlist{% if customer %} active{% endif %}">
                            {% render "icon-wishlist.svg" %}
                            <span>{{ 'cart.wishlist_add' | t }}</span>
                        </button>
                        <span class="wishlist-message">{{ "products.product.wishlist_login" | t }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--[/cart-items]-->
        </div>
        <div class="cart-totals">
            <!--[cart-total]-->
            <div class="cart-totals__sub-total">
                <span>{{ 'cart.sub_total' | t }}:</span> <span>{{ cart.total_price | money }}</span>
            </div>
            <!--[/cart-total]-->
            <div class="cart-totals__actions">
                {% form 'cart', cart %}
                    <button type="submit" name="checkout" class="button button--highlight button--tall" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</button>
                    <button type="submit" name="update" class="button button--secondary" aria-label="{{ 'cart.update_cart' | t }}" style="display: none;">{{ 'cart.update_cart' | t }}</button>
                {% endform %}
            </div>
        </div>
    {% else %}
        <!--[cart-empty]-->
        <p>{{ 'cart.cart_empty' | t }}</p>
        <!--[/cart-empty]-->
    {% endif %}

    </div>
    
</div>

<script src="{{ "main-cart.js" | asset_url }}" defer></script>

{% schema %}
{
    "name": "Cart",
    "tag": "section",
    "class": "section-cart",
    "settings": [
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ]
}
{% endschema %}