{% assign section_id = section.id | replace: "_", "" | replace: "-", "" %}
{% render "section-styles", section_id: section_id, section: section %}

<link href="{{ "text-banner.css" | asset_url }}" rel="stylesheet">

<div class="wrap wrap--{{ section.settings.width }} wrap--{{section_id }}">

    <div class="section-text-banner__inner">

        {% for block in section.blocks %}
            {% case block.type %}
                {% when "image" %}
                    {% if block.settings.image != blank %}
                    <div class="section-text-banner__image">
                        <img 
                            {% if request.design_mode %}
                            src="{{ block.settings.image.src | img_url: 'master' }}" 
                            {% else %}
                            src="{{ "preload.gif" | asset_url }}" 
                            data-src="{{ block.settings.image.src | img_url: 'master' }}" 
                            class="preload" 
                            {% endif %}
                            alt="{{ block.settings.title }}" 
                            width="{{ block.settings.image.width }}" 
                            height="{{ block.settings.image.height }}"
                        >
                    </div>
                    {% endif %}
                {% when "text" %}
                    {% if block.settings.text != blank %}
                    <div class="section-text-banner__text">
                        <p>{{ block.settings.text | newline_to_br }}</p>
                    </div>
                    {% endif %}
                {% when "title" %}
                    {% if block.settings.title != blank %}
                    <div class="section-text-banner__title">
                        <h3>{{ block.settings.title }}</h3>
                    </div>
                    {% endif %}
                {% when "button" %}
                    {% if block.settings.url != blank or block.settings.url_2 != blank %}
                    <div class="section-text-banner__button">
                        {% if block.settings.url != blank %}
                        <a href="{{ block.settings.url }}" class="button button--{{ block.settings.style }}">{{ block.settings.label }}</a>
                        {% endif %}
                        {% if block.settings.url_2 != blank %}
                        <a href="{{ block.settings.url_2 }}" class="button button--{{ block.settings.style_2 }}">{{ block.settings.label_2 }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
            {% endcase %}
        {% endfor %}
        
    </div>

</div>

{% schema %}
{
    "name": "Text Banner",
    "tag": "section",
    "class": "section-text-banner",
    "blocks": [
        {
            "type": "title",
            "name": "Title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "button",
            "name": "Buttons",
            "settings": [
                {
                    "type": "header",
                    "content": "Button 1"
                },
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label",
                    "default": "Button Label"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "style",
                    "label": "Style",
                    "options": [
                        {
                            "value": "solid",
                            "label": "Solid"
                        },
                        {
                            "value": "secondary",
                            "label": "Hollow"
                        }
                    ],
                    "default": "secondary"
                },
                {
                    "type": "header",
                    "content": "Button 2"
                },
                {
                    "type": "text",
                    "id": "label_2",
                    "label": "Label",
                    "default": "Button Label"
                },
                {
                    "type": "url",
                    "id": "url_2",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "style_2",
                    "label": "Style",
                    "options": [
                        {
                            "value": "solid",
                            "label": "Solid"
                        },
                        {
                            "value": "secondary",
                            "label": "Hollow"
                        }
                    ],
                    "default": "secondary"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "x-large",
                    "label": "X Large"
                },
                {
                    "value": "xx-large",
                    "label": "Full"
                }
            ],
            "default": "x-large"
        },
        {
            "type": "header",
            "content": "Desktop padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 64
        },
        {
            "type": "header",
            "content": "Mobile padding"
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 32
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
        }
    ],
    "presets":[
        {
            "name": "Text Banner"
        }
    ]
}
{% endschema %}